* {
  padding: 0;
  margin: 0 auto;
  max-width: 540px;
}

body{
  background: #f4f4f4;
  /* background-color: #8ec5f883; */
  margin-bottom: 70px;
}

/* 我的 */
/* 用户信息展示 */
.user-info {
  display: flex;
  justify-content: center;
  align-items: center; 
  border: 1px solid rgb(8, 111, 145);
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
  height: 100px;
  color: black;
  font-size: large;
}

.user-info-item {
  width: 70%;
}

.user-info-avatar {
  width: 20%;
}

.my-treval-notes-bar {
  display: flex;
  border: 1px solid rgb(8, 111, 145);
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
}

.my-treval-notes-box {
  border: 1px solid rgb(8, 111, 145);
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
  margin-bottom: 50px;
}

.user-avatar {
  border-radius: 50%;
  width: 100px; /* 设置头像宽度 */
  height: 100px; /* 设置头像高度 */
  border-radius: 50%; /* 设置为50%以创建圆形头像 */
  object-fit: cover; /* 保持图片比例，同时填充容器 */
}

/* AvatarUploader.css */
.avatar {
  display: flex;
  /* border: 1px solid black; */
  width: 100px; /* 设置头像宽度 */
  height: 100px; /* 设置头像高度 */
  border-radius: 50%; /* 设置为50%以创建圆形头像 */
  object-fit: cover; /* 保持图片比例，同时填充容器 */
  
}