.body-regist {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .registration-form {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .form-group input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* 简单的错误提示样式 */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .button-regist {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #69b2f7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}